/* Base reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/* Base Elements */

body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    background: rgb(178, 205, 211);
}
  
.block {
    background: linear-gradient(175deg, rgb(234, 241, 243) 0%, rgba(178, 205, 211,1) 75%);
}

  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  h2 {
      position: relative;
      z-index: 1;
  }

  h2:after {
      position: absolute;
      content: '';
      left: 0px;
      right: 0px;
      margin-right: 20%;
      border-width: 20px 45vw;
      border-style: solid;
      border-color: rgba(0,0,0,0) rgba(0,0,0,0) teal teal;
      z-index: -1;
  }
  
  header {
    height: 100vh;
    line-height: 100vh;
  }
  
/* Project Box Styling */

.project-list {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 10px 20%;
}

.project-list > section {
    border-left: 3px dashed black;
}

h3 {
    margin: 0 20px;
}


  section {
    min-height: 200px;
    padding: 20px;
    background-color: #bbb;
  }
  /*
  section:nth-child(even) {
    background-color: #ddd;
  }
  */