/* Base reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Pallete Declarations
    * We are going for Blue/Purple/Green.
    */

    --primary-color: #93DCF1;
    --primary-color-lighter: #C4EFFB;
    --primary-color-lightest: #FCFEFF;
    --primary-color-darker: #69C6E1;
    --primary-color-darkest: #44ABC7;

    --secondary-color1: #9DAEF3;
    --secondary-color1-lighter: #CAD3FB;
    --secondary-color1-lightest: #FDFDFF;
    --secondary-color1-darker: #768CE5;
    --secondary-color1-darkest: #536CD0;

    --secontdary-color2: #93F5B0;
    --secontdary-color2-lighter: #C4FCD5;
    --secontdary-color2-lightest: #FCFFFD;
    --secontdary-color2-darker: #69EA90;
    --secontdary-color2-darkest: #45D972;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}
  
/* Base and Generic Elements */

body {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0; 
    line-height: 2rem;
    color: var(--secondary-color1-darkest);
    background: var(--primary-color);
}

p {
    text-align: left;
    padding: 20px 5vw;
}

section > h3 {
    margin-left: 10vw;
    
}

span {
    font-size: .75rem;
    margin: 0 auto;
    text-align: center;

}

img {
    object-fit: contain;
    align-self: center;
    max-height: 30vh;
    max-width: 50vw;
    border: 3px solid var(--primary-color-darkest);
    border-radius: 5px;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    margin: 0 2vw;
    list-style: none;
    transition: background-color .5s;
}

footer {
    padding: .5rem 0;
    display: flex;
    flex-flow: row nowrap;
}

footer, nav {
    width: 100%;
    background-color: var(--secondary-color1);
}

a {
    font-family: 'Martel Sans', sans-serif;
    text-decoration: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color1-darkest);
    transition: color .3s;
}

a:hover {
    color: var(--secondary-color1-lighter);
}

/* Icon Styling */

i {
    font-size: 1.5rem;
    padding: 10px;
}


/* Nav Bar Styling */
  
nav {
    position: fixed;
    max-width: 100vw;
    top: 0;
    z-index: 10;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

nav li {
    padding: 5px 30px;
    margin: 0;
}

nav li:hover {
    background-color: var(--secondary-color1);
}

nav a:hover {
    color: var(--primary-color-lightest);
}

/* Main body Styling */

/* Splash screen styling */
/* Set each frame side seperately to allow illusion of break through */

 
.block {
    position: relative;
    margin-top: 5vh;
    background: linear-gradient(176deg, rgba(68,171,199,1) 0%, rgba(147,220,241,1) 90%);
}

header {
    height: 100vh;
}

.center-screen {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frame-center {
    position: absolute;
    height: 50vh;
    width: 70vw;
    display: flex;
    flex-flow: column;
    line-height: 3rem;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    padding: 10vh 5vh;
}

.title-fade-two {
    text-align: right;
    font-weight: 200;
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
      }
}
    
.fadeInDown-animation {
      animation: 1.5s fadeInDown;
}

/* Header Styling */
/* This creates our triangles for each header.  Changes direction each even one! */

h2 {
    font-family: 'Martel Sans', sans-serif;
    padding-top: 10vh;
    text-align: center;
    margin-bottom: 5vh;
}

h2::before {
    position: absolute;
    content: '';
    left: 0;
    border-width: 20px 40vw;
    border-style: solid;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) var(--secontdary-color2) var(--secontdary-color2);
    z-index: -1;
}

section:nth-child(odd) h2::before {
    left: 19%;
    right: 0;
    border-color: rgba(0,0,0,0) var(--secontdary-color2) var(--secontdary-color2) rgba(0,0,0,0);
}

#bio-box > ul {
    display: flex;
    flex-flow: column;
    margin: 0 5vw;
}

#bio-box ul li {
    padding-left: 5vw;
}

.game-text {
    font-size: .75rem;
    padding: 0 5px;
}
  
/* Project Box Styling */

.project-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    margin: 5vh 10vw;
    background-color: var(--primary-color-lighter);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.divider {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border-top: 1px dashed var(--secondary-color1-darker);
}

.container {
    margin: 5vh 5vw;
    text-align: center;
}

.stackicons > i {
    font-size: 1rem;
}

/* Contact links */

#contact-box ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

  /* Media queries */
  /* Tablet - PC */


@media screen and (min-width: 768px) {

    html {
        font-size: 20px;
    }
    
    body {
        line-height: 2.5rem;
    }

    ul {
        justify-content: flex-end;
    }

    .project-list > .divider {
        border-top: 1px dashed;
    }

  }

@media screen and (min-width: 1024px) {

    html {
        font-size: 24px;
    }

    footer > a > i {
        font-size: 2rem;
        margin: 0 10px;
    }

    img {
        max-height: none;
        max-width: 15vw;
    }

    .project-list {
        display: flex;
        flex-flow: row nowrap;
    }

    .project-list > .divider {
        border-top: none;
        border-left: 1px dashed var(--secondary-color1-darker);
    }
}