/* Base reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --day-color-background: rgb(178, 205, 211);
    --night-color-background: rgb(32, 21, 37);
}

html {
    scroll-behavior: smooth;
}
  
/* Base and Generic Elements */

body {
    font-family: "Oxygen", sans-serif; 
    font-size: 16px;
    color: #444;
    text-align: center;
    line-height: 1.6rem;
    background: rgb(178, 205, 211);
}

img {
    object-fit: contain;
    align-self: center;
    max-height: 30vh;
    max-width: 50vw;
    border: 3px solid lightblue;
}

.container {
    margin: 5px auto;
    height: 100%;
}

.block-section {
    min-height: 90vh;
}

footer {
    padding: 1% 0;
    display: flex;
    flex-flow: row;
}

footer > a > i {
    font-size: 1.5rem;
    padding: 10px 20px;
}

footer, nav {
    background-color: rgb(136, 207, 255);
}


/* Nav Bar Styling */
  
nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.night-mode-bar {
    align-self: center;
    display: none;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

li {
    font-family: 'Martel Sans', sans-serif;
    list-style: none;
    padding: 10px 20px;
    transition: background-color .5s;
}

nav li:hover {
    background-color: #99aaf0;
}

a {
    text-decoration: none;
    color: #262626;
    display: flex;
    flex-flow: column;
    transition: color .3s;
}

a:hover {
    color: rgb(116, 116, 117);
}

/* Main body Styling */

/* Splash screen styling */
/* Set each frame side seperately to allow illusion of break through */

 
.block {
    position: relative;
    margin-top: 5vh;
    background: linear-gradient(175deg, rgb(234, 241, 243) 0%, rgba(178, 205, 211,1) 75%);
}

.center-screen {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frame-left {
    position: absolute;
    border-radius: 50px;
    border-top: 10px solid white;
    border-left: 10px solid white;
    height: 80vh;
    width: 85vw;
    z-index: 1;
}

.frame-right {
    position: absolute;
    overflow: hidden;
    border-radius: 50px;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
    height: 80vh;
    width: 85vw;
    z-index: 3;
}

.frame-center {
    position: absolute;
    height: 50vh;
    width: 70vw;
    display: flex;
    flex-flow: column;
    line-height: 3rem;
}

h1 {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 600;
    padding: 10vh 0;
    width: 100%;
}

h1 + p {
    text-align: right;
}


/* Header Styling */
/* This creates our blue triangles for each header.  Changes direction each even one! */

h2 {
    font-family: 'Martel Sans', sans-serif;
    position: relative;
    z-index: 1;
    padding: 5vh 0;
    padding-top: 20vh;
}

h2::before {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    border-width: 20px 40vw;
    border-style: solid;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgb(111, 217, 247) rgb(111, 217, 247);
    z-index: -1;
}

section:nth-child(odd) h2::before {
    left: 19%;
    right: 0;
    border-color: rgba(0,0,0,0) rgb(111, 217, 247) rgb(111, 217, 247) rgba(0,0,0,0);
}


header {
    height: 100vh;
    line-height: 100vh;
}

#bio-box > ul {
    padding: 5vh 10vw;
    display: flex;
    flex-flow: column;
    text-align: left;
}

.game-text {
    display: inline;
    font-size: .75rem;
    padding: 0 10px;
}

#bio-box > p {
    padding: 5vh 10vw;
    line-height: 3rem;
}

/* SVG elements styling */
/* Create hills and butterflies and fireflies using base svg elements */

#splash-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 84vw;
    height: 100vh;
}

.hill {
    rx: 25vw;
    ry: 15vh;
    z-index: 2;
    stroke: linear-gradient(305deg, rgba(58,98,107,0) 20%, rgba(77,167,97,1) 80%, rgba(218,245,209,1) 100%);
    --color-light-1: #daf5d1;
    --color-light-2: #4da761;
    --color-light-3: #3a626b;

    /* For night mode
    --color-dark-1:
    --color-dark-2:
    --color-dark-3:
    */

    fill: url(#hill-day-gradient);
}

#hill-one {
    cx: 25vw; 
    cy: 90vh;
}

#hill-two {
    visibility: hidden;
    cx: 45vw; 
    cy: 90vh;
}

#hill-three {
    cx: 65vw; 
    cy: 90vh;
}
  
/* Project Box Styling */

.project-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 1vw;
    margin: 10px 10vw;
    background-color: rgb(206, 227, 241);
    border-radius: 2px;
}

.project-list > .divider {
    border-top: 1px dashed black;
}

h3 {
    font-family: 'Martel Sans', sans-serif;
    margin: 0 20px;
}

p {
    text-align: left;
    padding: 20px 5vw;
    font-weight: 300;
}

.links {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.stackicons > i {
    font-size: 1.5rem;
}

/* Icon Styling */

i {
    display: block;
    font-size: 2rem;
    padding: 5px;
}

i + span {
    visibility: hidden;
}


  /* Media queries */
  /* Tablet - PC */


@media screen and (min-width: 768px) {

    body {
        font-size: 20px;
        line-height: 2rem;
    }
    
    h2 {
        padding-top: 15vh;
    }

    ul {
        justify-content: flex-end;
    }

    img {
        max-height: none;
        max-width: 15vw;
        margin: 0 20px;
    }

    .project-list {
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    .project-list > .divider {
        border-top: none;
        border-left: 3px dashed black;
    }

    .container {
        margin: 20px auto;
    }

    i + span {
        visibility: visible;
    }

    .hill {
        rx: 20vw;
        ry: 17vh;
    }
    
    #hill-one {
        cx: 20vw; 
        cy: 90vh;
    }
    
    #hill-two {
        visibility: visible;
        cx: 45vw; 
        cy: 90vh;
    }
    
    #hill-three {
        cx: 70vw; 
        cy: 90vh;
    }

    .game-text {
        font-size: 1rem;
    }

  }

@media screen and (min-width: 1024px) {

    body {
        font-size: 24px;
        line-height: 2.6rem;
    }

    i {
        font-size: 3rem;
    }

    footer > a > i {
        font-size: 2rem;
        margin: 0 10px;
    }

    .hill {
        rx: 20vw;
        ry: 20vh;
    }

    .stackicons > i {
        font-size: 2.5rem;
    }

    #bio-box > ul {
        padding: 5vh 20vw;
    }
    
    #bio-box > p {
        padding: 5vh 20vw;
    }
}

/* Night Mode */
/* Change a multitude of colors to dark shades */

@media screen and (prefers-color-scheme: dark) {
    
}

@media screen and (prefers-color-scheme: light) {
    .dark-mode {
        display: none;
    }
}